<!DOCTYPE html>
<html lang="ua"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head :: head(_)}"></head>
<body>
    <div class="login-form-wrapper">
        <form th:action="@{/login}" method="post">
            <div class="mb-3">
                <label for="username" class="form-label">Логін:</label>
                <input type="text" class="form-control" id="username" name="username" required>
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Пароль:</label>
                <input type="password" class="form-control" id="password" name="password" required>
            </div>
            <button type="submit" class="btn btn-primary">Увійти</button>
        </form>
    </div>
</body>
</html>


