<!DOCTYPE html>
<html lang="ua"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head :: head(~{::meta})}">
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
</head>
<body>
	<div class="content-wrapper">
        <nav>
            <h1>Новий користувач:</h1>
            <ul>
                <li>
                    <form th:action="@{/logout}" method="post">
                        <button type="submit" class="btn btn-danger"><i class="fa fa-sign-out"></i>Вихід</button>
                    </form>
                </li>
            </ul>
        </nav>
        <form method="post" th:action="@{/users/add}" enctype="multipart/form-data" th:object="${user}">
            <input type="hidden" name="id" th:field="*{id}">
            <div class="form-group mt-3" th:with="error=${#fields.hasErrors('username')}">
                <label class="field-title" for="username">Логін</label>
                <input type="text" class="form-control" id="username" th:field="*{username}">
                <small th:unless="${error}" class="form-text text-muted">Обов'язкове поле</small>
                <div th:if="${error}" th:errors="*{username}" class="alert alert-danger mt-1" role="alert"></div>
            </div>
            <div class="form-group mt-3" th:with="error=${#fields.hasErrors('password')}">
                <label class="field-title" for="password">Пароль</label>
                <input type="password" class="form-control" id="password" th:field="*{password}">
                <small class="form-text text-muted">Обов'язкове поле</small>
                <div th:if="${error}" th:errors="*{password}" class="alert alert-danger mt-1" role="alert"></div>
            </div>
            <div class="form-buttons">
                <ul>
                    <li><button type="submit" class="btn btn-success"><i class="fas fa-save"></i>Зберегти</button></li>
                    <li><a class="btn btn-primary" th:href="@{/contacts}" role="button"><i class="fas fa-chevron-left"></i>Повернутися</a></li>
                </ul>
            </div>
        </form>
	</div>
</body>
</html>